@page "/personas_model_2"

@using Ejemplo_02_0_CRUD_RestAPI_y_Web_Simple.Models
@using Ejemplo_02_0_CRUD_RestAPI_y_Web_Simple.Services

@rendermode InteractiveServer


<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="personas_model_2/create">Crear nuevo registro de persona</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Fecha Nacimiento</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in personasModel)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.DNI</td>
                <td>@item.Nombre</td>
                <td>@item.FechaNacimiento?.ToShortDateString()</td>
                <td>
                    <a href="@($"personas_model_2/edit?id={item.Id}")"><i class="fa-solid fa-pen"></i></a> |
                    <a href="@($"personas_model_2/details?id={item.Id}")"><i class="fa-solid fa-expand"></i></a> |
                    <a href="@($"personas_model_2/delete?id={item.Id}")"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {

    PersonasService _service = new PersonasService();
    List<PersonaModel> personasModel;

    protected override void OnInitialized()
    {
        //context = DbFactory.CreateDbContext();
        personasModel = _service.GetAll();
    }

}
