@model List<Ejemplo_03_0_Login_Simple.Models.PersonaModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-action="Create"><i class="fa-solid fa-circle-plus"></i></a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Fecha Nacimiento</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DNI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen"></i></a> |
                <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-expand"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
